.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    width: 100%;
    text-align: center;
}

.center > * {
    margin: 0.88rem;
}

.center p {
    font-size: 1.2rem;
}

#input-link {
    width: 20rem;
    padding: 1rem;
    border-radius: 1.9rem;
    border: #000 1px solid !important;
    background-color: #EDEDED;
    color: #626262 !important;
    transition: 0.5s;
}

#input-link:focus {
    outline: none;
    width: 22rem;
    padding: 1rem 1.4rem;
}

#g-button {
    background-color: #7532a8;
    border: none;
    color: #fff;
    padding: 0.8rem 2.4rem;
    border-radius: 1.9rem;
    font-size: 1rem;
    cursor: pointer;
}

#g-button:hover {
    background-color: #9c44df;
}

@media screen and (max-width: 390px) {
    p {
        text-align: center;
    }

    #input-link {
        width: 75%;
    }

    #input-link:focus {
        width: 80%;
    }

    .center {
        margin-bottom: 1rem !important;
    }
}