#locked {
    width: 15rem;
    padding: 1rem;
    border-radius: 1.9rem;
    border: #000 1px solid !important;
    background-color: #EDEDED;
    color: #626262 !important;
    transition: 0.3s;
}

.spinner {
    margin-top: 4rem;
}